.attribution {
  font-size: 11px;
  text-align: center;
  font-family: "Outfit", sans-serif;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  box-sizing: border-box;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  flex-direction: column;
  padding: 50px;
}

section {
  padding: 20px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
}

img {
  border-radius: 15px;
  max-width: 100%;
}

p {
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  text-align: center;
}

section p + p {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: hsl(213, 5%, 59%);
  text-align: center;
}

@media (min-width: 500px) {
  section {
    width: 400px;
  }
}
